.git
.gitignore
.venv
__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.log
node_modules/
.qodo/

media/
staticfiles/
*.tar
*.gz
*.zip
*.bak
Dockerfile*
docker-compose*